numpy>=1.21.6
matplotlib>=3.0
pandas>=1.0
xlrd>=1.1
openpyxl>=2.5
lxml>=4.2
jupyter>=1.0
pygame>=2.1.2
pyperclip
typing_extensions



ipykernel>=6
jupyterlab==4.0.9
jupyterlab-link-share~=0.3.0
jupyter-collaboration~=2.0
